# Ignore all files and directories
*

# Eclude .gitignore
!.gitignore

# Exclude the htdocs/recipal directory from being ignored
!htdocs/ReciPal/

# Exclude the schema.sql file from being ignored
!recipal_db.sql

# Exclude README.md
!README.md

# Exclude my.ini
!mysql/bin/my.ini

# Ignore the .vscode directory
.vscode/

# Exclude any hidden files or directories except .git
.* 
!.git/

# Exclude files like logs or temporary files
*.log
*.bak
*.tmp