# Ignore all files and directories
*

# Eclude .gitignore
!.gitignore

# Exclude the htdocs/recipal directory from being ignored
!htdocs/recipal/

# Exclude the schema.sql file from being ignored
!schema.sql

# Exclude SQL Queries from being ignored
!sqlQueries

# Exclude README.md
!README.md

# Ignore the .vscode directory
.vscode/

# Exclude any hidden files or directories except .git
.* 
!.git/

# Exclude files like logs or temporary files
*.log
*.bak
*.tmp